<!DOCTYPE html>
<html>
  <head>
    <title>MusicDating</title>
    <%= javascript_pack_tag 'hello_react.js' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
